manifest {
    name = 'EPIC-genetics-stage3'
    description = 'EPIC Genetics Stage-3 post-imputation QC and PLINK2 conversion'
    version = '1.0.0'
}

workDir = "${projectDir}/work"

conda {
    enabled = true
    useMamba = false
    cacheDir = "${projectDir}/conda"
}

params {
    outdir = "${projectDir}/../analysis"
    stage1_root = "${projectDir}/../analysis"
    stage2_root = "${projectDir}/../analysis"
    slurm_partition = System.getenv('SLURM_JOB_PARTITION') ?: 'low_p'
    cache_mode = 'deep'
    stage3_queue_size = 720
    stage3_submit_rate_limit = '720/1min'
}

singularity.enabled = false

env {
    BCFTOOLS_BIN = System.getenv('BCFTOOLS_BIN') ?: 'bcftools'
    PLINK_BIN = System.getenv('PLINK_BIN') ?: 'plink'
    PLINK2_BIN = System.getenv('PLINK2_BIN') ?: 'plink2'
    PYTHON3_BIN = System.getenv('PYTHON3_BIN') ?: 'python3'
}

process {
    executor = 'local'
    cache = params.cache_mode
    errorStrategy = 'finish'

    withName: PREP_DBSNP_CHROM {
        cpus = 1
        memory = '4 GB'
        time = '1h'
        conda = "${projectDir}/envs/prepare_dbsnp.yml"
    }

    withName: PREP_CHROM {
        cpus = 1
        memory = '8 GB'
        time = '4h'
        conda = "${projectDir}/envs/prepare_chrom.yml"
    }

    withName: SAMPLE_REVIEW {
        cpus = 4
        memory = '32 GB'
        time = '24h'
        conda = "${projectDir}/envs/sample_review.yml"
    }

    withName: FINALIZE_STUDY {
        cpus = 1
        memory = '16 GB'
        time = '4h'
        conda = "${projectDir}/envs/finalize_study.yml"
    }
}

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = params.slurm_partition
        process.errorStrategy = 'terminate'
        process.maxRetries = 0
        executor.queueSize = params.stage3_queue_size
        executor.submitRateLimit = params.stage3_submit_rate_limit
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/stage3-pipeline_info/execution_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/stage3-pipeline_info/execution_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/stage3-pipeline_info/execution_trace.txt"
    overwrite = true
}
