params.samplesheet = "samplesheet.csv"
params.outdir = "results"

process {
    executor = 'local'
    
    withLabel: 'mid_mem' {
        cpus = 4
        memory = '16 GB'
    }
    
    withLabel: 'high_mem' {
        cpus = 8
        memory = '32 GB'
    }
}

profiles {
    slurm {
        process.executor = 'slurm'
    }
}
